/* Variables globales pour une palette de couleurs CSS */
:root {
    --primary-bg-color: #FAF7F0;
    --secondary-bg-color: #D8D2C2;
    --primary-text-color: #4A4947;
    --highlight-color: #B17457;
}

/* --------------------------------------------------------------- */
/* PAGE D'ACCUEIL */
/* Image de fond fixe */
body {
    background-image: url("../images/bg-2.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;

    /* Polices pour des textes */
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 16px;
}

.container {
    max-width: 1320px;
    margin: auto;
}

/* MENU */
.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--primary-bg-color);
}

.menu .container {
    display: flex;
    justify-content: space-between;
}

/* Navbar - Logo */
.menu .container .menu__left {
    display: flex;
    align-items: center;
}

/* Navbar - Menu */
.menu .container .menu__right {
    display: flex;
    align-items: center;
}

.menu .container .menu__right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu .container .menu__right ul li {
    margin-right: 15px;
    margin-left: 15px;
}

.menu .container .menu__right ul a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding-bottom: 5px;
}

.menu .container .menu__right ul a.active {
    color: var(--highlight-color);
}

.menu .container .menu__right ul a:hover {
    color: var(--highlight-color);
    animation-duration: 5s;
}

/* PRÉSENTATION */
.section {
    /* background: #000; */
    margin: 95px 0;
    padding: 50px 0;
    color: var(--primary-text-color);
}

.section .titre {
    width: 6%;
    text-align: center;
    padding: 12px 16px;
    margin: auto;
    background: var(--secondary-bg-color);
    color: var(--highlight-color);
    border: 2px solid var(--secondary-bg-color);
    border-radius: 10px;

    /* Police pour des titres */
    font-family: "Merriweather", serif;
    font-weight: bold;
}

.section .container {
    padding: 50px 0;
}

/* Création d'un effet de frappe (typing effect) avec CSS */
/* Animation frappe pour accueil__prenom */
@keyframes effetFrappe {
    from {
        width: 0;
    }
    to {
        width: 42%;
    }
}

#accueil__prenom {
    overflow: hidden;
    border-right: 2px solid var(--highlight-color);
    white-space: nowrap;
    font-size: 55px;
    width: 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: var(--highlight-color);
    margin: 20px 0;
    animation-name: effetFrappe;
    animation-duration: 2s;
    animation-timing-function: steps(25, end);
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

/* Animation glisser vers le haut pour accueil__texte */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.accueil .accueil__texte {
    overflow: hidden;
    opacity: 0;
    animation-name: slideUp;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    font-size: 28px;
}

