/* Des variables globales pour le style CSS */
:root {
  --primary-bg-color: #faf7f0;
  --secondary-bg-color: #d8d2c2;
  --primary-text-color: #4a4947;
  --highlight-color: #b17457;
  --font-title: "Merriweather", serif;
  --font-text: "Playfair Display", serif;
}

/* La configuration générale pour l'ensemble du site */
body {
  /* Polices pour des textes */
  font-family: var(--font-text);
  font-style: normal;
  font-size: 16px;
  color: var(--primary-text-color);
}

.container {
  max-width: 1320px;
  margin: auto;
}

/* FIN de la configuration générale pour l'ensemble du site */

/* ------------------------------------------------------------------------------------- */
/* PAGE D'ACCUEIL */
/* Image de fond fixe uniquement pour la page d'accueil */
body.page-accueil {
  background-image: url("../images/bg-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* MENU */
.menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary-bg-color);
  /* box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2); */
  z-index: 100;
}

.menu .container {
  display: flex;
  justify-content: space-between;
}

/* Navbar - Logo */
.menu .container .menu__left {
  display: flex;
  align-items: center;
}

/* Navbar - Menu */
.menu .container .menu__right {
  display: flex;
  align-items: center;
}

.menu .container .menu__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu .container .menu__right ul li {
  margin-right: 15px;
  margin-left: 15px;
}

.menu .container .menu__right ul a {
  color: var(--primary-text-color);
  text-decoration: none;
  padding-bottom: 5px;
  font-family: var(--font-title);
}

.menu .container .menu__right ul a.active {
  color: var(--highlight-color);
}

.menu .container .menu__right ul a:hover {
  color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}

/* Configuration générale pour la partie de section et titre */
.section {
  padding: 50px 0;
  color: var(--primary-text-color);
}

.section .container {
  padding: 50px 0;
}

.section .titre {
  width: 6%;
  text-align: center;
  padding: 12px 16px;
  margin: auto;
  background: var(--secondary-bg-color);
  color: var(--highlight-color);
  border: 2px solid var(--secondary-bg-color);
  border-radius: 10px;

  /* Police pour des titres */
  font-family: var(--font-title);
  font-weight: bold;
}

/* PRÉSENTATION */
.accueil {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 0;
}

.accueil .accueil__item {
  width: 100%;
}

/* Création d'un effet de frappe (typing effect) avec CSS */
/* Animation frappe pour accueil__prenom */
@keyframes effetFrappe {
  from {
    width: 0;
  }
  to {
    width: 43%;
  }
}

#accueil__prenom {
  overflow: hidden;
  border-right: 2px solid var(--highlight-color);
  white-space: nowrap;
  font-size: 55px;
  width: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: var(--highlight-color);
  margin: 20px 0;
  animation-name: effetFrappe;
  animation-duration: 2s;
  animation-timing-function: steps(25, end);
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

/* Animation glisser vers le haut pour accueil__texte */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accueil .accueil__texte {
  opacity: 0;
  animation-name: slideUp;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  font-size: 28px;
}

/* FORMATION */
.formation {
  padding-top: 0;
}

.formation .container {
  padding-top: 0;
}

.formation .timeline {
  padding-top: 50px;
}

.timeline .timeline__section {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.timeline .timeline__section .section__time {
  margin-top: 20px;
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 20px;
  width: 15%;
}

.timeline .timeline__section .section__content {
  display: flex;
}

.section__content .content__line {
  display: flex;
  margin-top: 20px;
}

.section__content .content__line .line {
  content: "";
  width: 3px;
  height: 135%;
  background: var(--highlight-color);
}

.section__content .content__line .lastLine {
  height: 110%;
}

.section__content .content__line .dot {
  position: relative;
}

.section__content .content__line .dot::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--highlight-color);
  right: -12px;
}

.section__content .content__desc {
  margin-left: 50px;
}

.section__content .content__desc h3 {
  font-family: var(--font-title);
  font-size: 20px;
}

.section__content .content__desc p {
  font-size: 18px;
}

/* COMPÉTENCES */
.section.competences .titre {
  width: 8%;
}

.skills {
  padding-top: 50px;
  width: 65%;
}

.skills__texte {
  font-size: 18px;
}

.skills__listeDeroulante {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skills__listeDeroulante label {
  font-size: 18px;
  margin-right: 10px;
}

.skills__listeDeroulante select {
  margin-right: 30px;
  height: 30px;
}

.skills__listeDeroulante .apt__consulter {
  background-color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
  color: var(--primary-bg-color);
  font-family: var(--font-title);
  font-size: 18px;
  padding: 8px 8px;
  cursor: pointer;
}

.skills__listeDeroulante .apt__consulter:hover {
  background-color: var(--primary-bg-color);
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  transition: all 0.3s ease;
}

.skills__contenu {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 30px;
  padding-top: 50px;
}

.skills__contenu .skillsItem__content {
  display: flex;
  justify-content: space-between;
}

.skills__contenu .skillsItem__content p {
  font-weight: bold;
  font-size: 18px;
}

.skills__contenu .skillsItem__content p:nth-child(2) {
  color: var(--highlight-color);
}

.skills__item .skillsItem__bar {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--secondary-bg-color);
}

.skillsItem__bar .bar__value {
  position: absolute;
  content: "";
  height: 10px;
  border-radius: 5px;
  background: var(--highlight-color);
} 

/* LANGUES */
.langues .langues__contenu {
  margin-top: 50px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--secondary-bg-color);
  opacity: 0.9;
  border-radius: 10px;
}

.langues .langues__contenu .langues__item {
  text-align: center;
}

.langues__contenu .langues__item .item__lang {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.langues__item .item__lang img {
  padding-left: 10px;
}

/* FOOTER (PIED) */
.footer {
  background: var(--highlight-color);
  opacity: 0.9;
  margin-top: 100px;
}

.footer .footer__contenu {
  text-align: center;
  padding: 50px 0;
  color: white;
  font-family: var(--font-title);
  font-size: 18px;
}

.footer__contenu .footer__merci {
  display: flex;
  justify-content: center;
}

.footer__contenu .footer__merci img {
  width: 40px;
  padding-left: 10px;
}

.footer .footer__contenu .footer__signature {
  padding-top: 20px;
}

/* BUTTONS (revenir à la page d'accueil & revenir en haut) */
.boutons {
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.boutons .btn {
  display: none;
  position: relative;
}

.boutons .bouton__home {
  margin-right: 10px;
}

.boutons button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid var(--primary-bg-color);
  background: var(--highlight-color);
  color: var(--primary-bg-color);
}

.boutons button:hover {
  border: 2px solid var(--highlight-color);
  background: var(--primary-bg-color);
  color: var(--highlight-color);
  transition: all 0.3s ease;
}

/* Tooltips pour les boutons */
.boutons .btn .tooltip {
  display: none;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--highlight-color);
}

.boutons .btn .triangle {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--secondary-bg-color);
}

.bouton__home .tooltip {
  display: none;
  width: 120px;
  top: -30px;
  left: -40px;
}

.bouton__home .triangle {
  top: -10px;
  left: 15px;
}

.bouton__up .tooltip {
  width: 50px;
  top: -30px;
  left: -4px;
}

.bouton__up .triangle {
  top: -10px;
  left: 15px;
}

.bouton__home:hover .tooltip,
.bouton__home:hover .triangle,
.bouton__up:hover .tooltip,
.bouton__up:hover .triangle {
  display: block;
  transition: all 0.5s ease;
}

/* FIN de la page d'accueil */

/* ------------------------------------------------------------------------------------- */
/* La configuration générale pour 2 pages: interet.html & apprentissage.html */
/* Le couleur du fond pour les pages interet.html & apprentissage.html */
body.page-interet,
body.page-apprenti {
  background-color: var(--primary-bg-color);
  /* background-image: url("../images/bg-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

/* TITRE DE LA PAGE */
.titrePage {
  padding-top: 100px;
  padding-bottom: 0;
}

.titrePage h1 {
  text-transform: uppercase;
  font-family: var(--font-title);
  color: var(--highlight-color);
  font-weight: 500;
}

.titrePage .titrePage__items {
  position: relative;
  padding-bottom: 0;
}

.titrePage .soulignement {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--highlight-color);
  bottom: -5px;
}

h2 {
  color: var(--primary-text-color);
  font-family: var(--font-text);
}

/* PRÉSENTATION */
.presentation {
  padding: 0;
}

.presentation .presentation__contenu {
  padding: 10px 0;
}

.presentation__contenu p {
  text-align: justify;
}

/* Le style de section */
.section__contenu {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

/* FIN de la configuration générale pour 2 pages: interet.html & apprentissage.html */

/* ------------------------------------------------------------------------------------- */
/* PAGE D'INTÉRÊT */

/* PRÉSENTATION */
.presentation .presentation__contenu .texte__rando {
  color: var(--highlight-color);
  text-transform: uppercase;
}

/* TABLE DE MATIÈRES */
.sommaire {
  padding: 0;
}

.sommaire__contenu .sommaire__liste a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 18px;
}

.sommaire__contenu .sommaire__liste a:hover {
  color: var(--highlight-color);
  transition: all 0.3s ease;
}

/* HISTOIRE */
.histoire {
 padding-bottom: 0;
}

.histoire .container {
  padding-bottom: 0;
}

.lien {
  text-decoration: none;
  color: var(--highlight-color);
  font-style: italic;
}

.histoire__lecons {
  list-style: circle;
}

.histoire__lecons .lecon__texte {
  text-align: justify;
}

.lecon__balisage .img__balise {
  float: right;
  width: 400px;
  padding: 20px;
}

.lecon__rythme .img__rythme {
  float: left;
  width: 250px;
  padding: 0 20px;
}

.lecon__lavie .img__courage {
  float: right;
  width: 300px;
  padding: 0 20px;
}

/* MATÉRIELS */
.materiels {
  padding-bottom: 0;
}

.materiels .container {
  padding-bottom: 0;
}

.materiels .titre {
  width: 14%;
}

.materiel__contenu .materiel__liste {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.materiel__article .article__img img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid var(--highlight-color);
}

/* AVANTAGES */
.avantages {
  padding-bottom: 0;
}

.avantages .container {
  padding-bottom: 0;
}

.avantages__liste {
  list-style: circle;
}

/* GALERIES */
.galeries .galeries__liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 30px;
}

.galeries__liste .galerie__img {
  position: relative;
  cursor: pointer;
}

.galeries__liste .galerie__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeries__liste .galerie__img.img-3 {
  grid-column: 3;
  grid-row: 1/span 2;
}

.galeries__liste .galerie__img.img-6 {
  grid-column: 1;
  grid-row: 3/span 2;
}

.galeries__liste .galerie__img.img-10 {
  grid-column: 2;
  grid-row: 4/span 2;
}

.galeries__liste .galerie__img .img__contenu {
  display: none;
}

/* Animation glisser vers le haut pour img__contenu  */
@keyframes slideUp2 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

.galeries__liste .galerie__img:hover .img__contenu {
  position: absolute;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  opacity: 0.8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: slideUp2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.galerie__img .img__contenu p {
  margin: 5px;
}

/* FIN de la page d'intérêt */

/* ------------------------------------------------------------------------------------- */
/* PAGE D'APPRENTISSAGE */

/* PRÉSENTATION */
.presentation .presentation__contenu a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.presentation .presentation__contenu a:hover {
  color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
}

/* Configurations générales pour "Du cours R3.03" & "Du portfolio" */
.partie__titre {
  text-transform: uppercase;
}

/* DU COURS R3.03 */
.cours .titre {
  width: 24%;
}

/* DU PORTFOLIO */
.portfolio .titre {
  width: 31%;
}

/* FIN de la page d'apprentissage */